NODE_ENV=local
MONGO_CONNECTION_STRING=mongodb://localhost:27017
DB_NAME=account-mng
JWT_SECRET_KEY=mySecretString
SALT_ROUNDS=10
SECRET_KEY=123123
AUTHORIZATION_API_KEY=someSecretString
SERVICE_NAME=api-gateway-service
APP_PORT=8000
TRANSACTION_SERVICE_URL=http://localhost:8004
ACCOUNT_SERVICE_URL=http://localhost:8002
CARD_SERVICE_URL=http://localhost:8003
USER_SERVICE_URL=http://localhost:8001