NODE_ENV=local
SERVICE_NAME=account-service
APP_PORT=8002
MONGO_CONNECTION_STRING=mongodb://localhost:27017
DB_NAME=account-mng
JWT_SECRET_KEY=mySecretString
SALT_ROUNDS=10
SECRET_KEY=123123
AUTHORIZATION_API_KEY=someSecretString
